/* Import Karla fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    /* labels font size */
    --fs-label: 16px;

    /* Width && height */
    --width: 100vw;
    --height: 100vh;

    /* Weight */

    --400: 400;
    --700: 700;

    /* Colors */

    --lite-green: hsl(148, 38%, 91%);
    --med-green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --med-grey: hsl(186, 15%, 59%);
    --drk-grey: hsl(187, 24%, 22%);

}



/* General Styles */

.karla {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

  .karla-italic {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: italic;
  }

  .flex-container {
    display: flex;
  }

  .flex-column-container {
    display: flex;
    flex-direction: column;
  }

  .round-border {
    border-radius: 25px;
  }

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }


  h1 {
    
  }

  body {
    width: var(--width);
    min-height: var(--height);
    background-color: var(--lite-green);
  }

/* Small screens media */

  @media screen and (max-width: 375px){

    label > input {
        font-size: var(--fs-label);
    }

    label {
        clear: both;
        float: left;
    }

    .main-outter-container {
        background-color: var(--white);
        height: calc(var(--height) - 10vh);
        margin: 5vh auto;
        width: calc(var(--width) - 20vw);
        gap: 2rem;
    }

    .header-container {
        outline: 1px solid;
        height: fit-content;
        text-align: center;
        width: 50%;
    }

    .header-container h1 {
        font-size: 1.5rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        outline: 1px solid;
        height: 100%;
        align-items: center;
    }
  }



/* Medium and Large screens media */
  @media screen and (min-width: 376px) and (max-width: 1440px) {

  }